.container {
    margin: 0 auto;
    background-color: white;
    padding: 48px 10px;
  }
  
  .heading {
    font-size: 48px;
    font-weight: 700;
    color: #0a0a5e;
    margin-bottom: 16px;
  }
  
  .subheading {
    font-size: 20px;
    color: #333;
    margin-bottom: 48px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .container {
        /* max-width: 1200px; */
        margin: 0 auto;
        background-color: white;
        padding: 48px 24px;
      }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 768px) {
    .heading {
        font-size: 28px;
        font-weight: 600;
        color: #0a0a5e;
        margin-bottom: 16px;
      }
      .subheading{
        color: #0a0a5e;
      }
      .container {
        /* max-width: 1200px; */
        margin: 0 auto;
        background-color: white;
        padding: 28px 10px;
      }
  }